<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.org.zapayapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!--for invites purpose-->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".ZapayApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".activity.WithdraMoneyWalletActivity"
            android:fitsSystemWindows="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"/>

        <activity android:name=".activity.AddMoneyWalletActivity"
            android:fitsSystemWindows="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"/>

        <activity
            android:name=".activity.WalletActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.org.zapayapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".activity.CommonSummeryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ViewAllHistoryAndTransactionDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DefaultTransactionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PdfViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AcceptActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.SignatureActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".dialogs.DateChangeRequestDialogActivity"
            android:fitsSystemWindows="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".activity.CongratulationActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.SetPinActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".dialogs.RattingDialogActivity"
            android:fitsSystemWindows="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <data android:scheme="Zapay" android:host="open" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="o74qw.app.link" />
                <!-- example-alternate domain is required for App Links when the Journeys/Web SDK and Deepviews are used inside your website.  -->
                <data android:scheme="https" android:host="o74qw-alternate.app.link" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="o74qw.test-app.link" />
                <data android:scheme="https" android:host="o74qw-alternate.test-app.link" />
            </intent-filter>


        </activity>
        <activity
            android:name=".chat.ChatActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".activity.ViewAllSummaryActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.MyHistoryActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.BaseActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.LendingSummaryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.BorrowSummaryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.TransactionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.BankInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.HelpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.TermConditionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="CHAT_MESSAGE_RECEIVE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LendBorrowActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".dialogs.ChangeBankDialogActivity"
            android:fitsSystemWindows="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".dialogs.EditProfileDialogActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".dialogs.ChangePassDialogActivity"
            android:fitsSystemWindows="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".dialogs.AddBankDialogActivity"
            android:fitsSystemWindows="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />

        <activity
            android:name=".dialogs.VerifyBankDialogActivity"
            android:fitsSystemWindows="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />

        <service
            android:name=".notification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher_foreground" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_ea2NZQNH5V7yEJLj7tZC9mbnxrnA9b7a" />
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_test_df6M2MNN7TZzxSQm6vZF9mkmsqgz7e5s" />
        <meta-data android:name="io.branch.sdk.TestMode" android:value="false" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

</manifest>